{% extends 'base.html' %}

{% block title %}social{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<!-- Login form -->
			<form method="post">
				{{form.as_p}}
				{% csrf_token %}
				<input type="submit" value="Log in">
			</form>
			<small>
				Don't have an account? <a href="{% url 'user_register' %}">Sign up</a>
			</small>

			{% if messages %}
			{% for message in messages %}
			<p>{{message}}</p>

		</div>
	</div>
	<div class="col-md-4"></div>
</div>
{% endfor %}
{% endif %}
</div>
{% endblock %}
