{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if user_profile %}
{{user_profile.username}}'s profile
{% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">Home</a>
			</li>
		</ul>
	</div>

	<ul class="navbar-nav mr-auto">
		{% if request.user.is_authenticated %}
		<a class="nav-link" href="{% url 'user_logout' %}">Log out</a>
		</li>
	</ul>
	{% endif %}
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container" align="left">
	<div class="row" style="margin-top:2em;">
		<!-- Left side of profile page -->
		<div class="col-md-5 col-lg-6">

			<!-- User Profile -->
			<div class="card" style="width: 100%;">
				<div class="card-header">@{{user_profile.username}}</div>
				<div class="row no-gutters">
					<div class="col-sm-5">
						<img class="card-img" src="{{user_profile.get_absolute_url}}" alt="Suresh Dasari Card">
					</div>
					<div class="col-sm-7">
						<div class="card-body">
							<h5 class="card-title">{{user_profile.first_name}}
								{{user_profile.last_name}}</h5>
							<p>From: {{user_profile.city}}, {{user_profile.state}},
							{{user_profile.country}}</p>
							<small>Date joined: {{user_profile.date_joined}}</small>
							{% if request.user.is_authenticated and user_profile.username == request.user.username %}
							<a href="{% url 'update_profile' pk=request.user.pk %}">
								<button type="submit" class="btn btn-primary">
									Edit Profile
								</button>
							</a>
							{% endif %}
						</div>
					</div>
				</div>


			</div>
		</div> <!-- .col-md-5 .col-lg-6 -->

		<!-- Right side of profile page -->
		<div class="col-md-6">

			<!-- Blurbs -->
			<div class="container">
				<div class="row">

					<h2>{{user_profile.username}}'s blurbs</h2>
					{% if blurbs %}
					<h4>{{blurbs.0.title}}</h4>
					<small>posted on {{blurbs.0.edited}}</small>
					<p>{{blurbs.0.body|truncatechars:100}}
					{% if blurbs.0.body|length > 100 %}
					<a href="{% url 'blurb_detail' username=blurbs.0.author.username slug=blurbs.0.slug %}">Read more...</a>
					{% endif %}
					</p>

					<!-- comments -->
					<div class="container">
						<span>
							{{blurbs.0.comments.count}} comments
						</span>
					</div>
				</div>
				{% if blurbs|length > 3 %}
				<div cass="row">
					<h4>More recent blurbs...</h4>
					<p class="lead">
					<a href="{% url 'blurb_detail' username=blurbs.1.author.username slug=blurbs.1.slug %}">
						{{blurbs.1.title}}</a></p>
				</div>
				{% endif %}
			</div>
			{% else %}
			<p>{{user_profile.first_name}} has not written a blurb yet.</p>
			{% endif %}

			<div class="container">
				<!-- Write new blurb -->
				{% if request.user.is_authenticated and user_profile.username == request.user.username %}
				<a href="{% url 'create_blurb' username=request.user.username %}">
					<button type="submit" class="btn btn-primary">New blurb</button>
				</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endblock %}
