{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if user_profile %}
{{user_profile.username}}'s profile
{% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="{% url 'friend_requests' %}">Friend requests</a>
			</li>
		</ul>
	</div>

	<ul class="navbar-nav mr-auto">
		{% if request.user.is_authenticated %}
		<a class="nav-link" href="{% url 'user_logout' %}">Log out</a>
		</li>
		{% endif %}
	</ul>
	</div>
</nav>
{% endblock %}

<!-- Content -->
{% block content %}
<div class="container" align="left">
	<div class="row" style="margin-top:2em;">
		<!-- Left side of profile page -->
		<div class="col-sm-6 col-md-6 col-lg-6">

			<!-- User Profile -->
			<div class="card" style="width: 100%;">
				<div class="card-header">@{{user_profile.username}}</div>
				<div class="row no-gutters">
					<div class="col-sm-5">
						<img class="card-img" src="{{user_profile.get_absolute_url}}"
											  alt="Profile pic">
					</div>
					<div class="col-sm-7">
						<div class="card-body">
							<h5 class="card-title">{{user_profile.first_name}}
								{{user_profile.last_name}}</h5>
							<p>From: {{user_profile.city}}, {{user_profile.state}},
							{{user_profile.country}}</p>
							<small>Date joined: {{user_profile.date_joined}}</small>
							{% if request.user.is_authenticated and user_profile.username == request.user.username %}
							<a href="{% url 'update_profile' pk=request.user.pk %}">
								<button type="submit" class="btn btn-primary">
									Edit Profile
								</button>
							</a>
							{% endif %}
							{% if request.user.username != user_profile.username %}
							<form method="post">
								{% csrf_token %}
								<input type="submit" value="add {{user_profile.username}} as a friend" />
							</form>
							{% if messages %}
							{% for message in messages %}
							{{message}}
							{% endfor %}
							{% endif %}
							</a>
							{% endif %}
							{% if errors %}
							{% for error in errors %}
							<p>{{error}}</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>


			</div>
		</div> <!-- .col-sm-6 .col-md-6 .col-lg-6 -->


		<!-- Right side of profile page -->
		<div class="col-sm-6 col-md-6 col-lg-6">

			<!-- Blurbs -->
			<div class="row">
				<h2>{{user_profile.username}}'s blurbs</h2>
				{% if blurbs %}
				<h4>{{blurbs.0.title}}</h4>
				<small>posted on {{blurbs.0.edited}}</small>
				<p>{{blurbs.0.body}}</p>
			</div>
			<div cass="row">
				{% if blurbs|length > 3 %}
				<h4>More recent blurbs...</h4>
				<p class="lead">
				<a href="{% url 'blurb_detail' username=blurbs.1.author.username slug=blurbs.1.slug %}">
					{{blurbs.1.title}}</a></p>
			</div>
			{% endif %}
			{% else %}
			<p>{{user_profile.first_name}} has not written a blurb yet.</p>
			{% endif %}

			<!-- Write new blurb -->
			{% if request.user.is_authenticated and user_profile.username == request.user.username %}
			<a href="{% url 'create_blurb' username=request.user.username %}">
				<button type="submit" class="btn btn-primary">New blurb</button>
			</a>
			{% endif %}
		</div>

		<!-- Friends -->
		<div class="row">
			<h4>{{user_profile}} has {{friends|length}} friends</h4>
			{% for friend in friends %}
			<div class="col-sm-3">
				<a href="{% url 'user_profile' username=friend.username %}">
					<p>{{friend.username}}</p>
					<img src="{{friend.get_absolute_url}}" class="img-thumbnail rounded float-right">
				</a>
			</div>
			{% endfor %}
		</div>

	</div>
</div>
{% endblock %}
